* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0F0;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 2;
  width: 80%;
  margin: 0 auto;
  height: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__top i {
  line-height: 2;
  color: #FF7010;
  padding-right: 6px;
}

header .header__top .header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2px;
  height: 100%;
}

header .header__top .header-top-left h4, header .header__top .header-top-left span {
  margin-right: 20px;
}

header .header__top .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2px;
  height: 100%;
}

header .header__top .header-top-right p, header .header__top .header-top-right span {
  margin-left: 25px;
}

header .header__bottom {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header__bottom .header-bottom_left h4 {
  font-size: 20px;
}

header .header__bottom button {
  background-color: #FF7010;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

header .header__bottom button i {
  padding-right: 5px;
}

header .header__bottom button:after {
  content: ' 0 sum';
}

#categories {
  width: 1230px;
  margin: 0 auto;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 55px;
}

#categories a {
  text-decoration: none;
}

#categories .categorie {
  width: 100px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#categories .categorie i {
  color: #FF7010;
  font-size: 30px;
}

#categories .categorie h4 {
  color: black;
  font-size: 20px;
  font-weight: 100;
}

#categories .categorie h4:focus {
  color: #FF7010;
}

#categories .categorie:focus {
  background-color: #FF7010;
}

#categories .categorie:focus i {
  color: #fff;
}

#categories .categorie:active {
  background-color: #FF7010;
}

#categories .categorie:active i {
  color: #fff;
}

#news {
  width: 1230px;
  margin: 0 auto;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

#news .news_card {
  width: 290px;
  height: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF7010;
  border-radius: 12px;
}

#news .news_card img {
  width: 209.04px;
  height: 209.98px;
  padding-top: 20px;
}

#news .news_card h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-top: 40px;
}

#search {
  width: 1230px;
  margin: 0 auto;
  margin-top: 30px;
}

#search .search_con {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search .search_con h4 {
  margin-right: 100px;
  font-size: 19px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

#search .search_con input {
  padding: 10px;
  width: 650px;
  background: url("../images/location.svg") no-repeat scroll 7px 7px;
  background-size: 15px;
  padding-left: 30px;
  outline: none;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-left: 100px;
}

#search .search_con input:focus {
  border: 2px solid #FF7010;
}

#search .search_con button {
  background-color: #FF7010;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-left: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */